.about-us-cd {
    overflow: hidden;
    --card-spaceing: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
    margin-bottom: clamp(1.25rem, 0.341rem + 4.55vw, 3.75rem);
    border: 1px solid var(--border2-color);
    border-right: 3px solid var(--primary-color);


    &:nth-child(odd){
            border-left: 3px solid var(--primary-color);
            border-right: 1px solid var(--border2-color);

    }
    

    @include tab-sm-portrait {
        flex-direction: column;
        text-align: center;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .about-us-lt {
        padding: var(--card-spaceing);
        min-width: 25%;
        flex: none;
        position: relative;
        border-right: 1px solid var(--border2-color);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tab-sm-portrait{
            padding-bottom: 0;
            margin-bottom: 10px;
        }

        h2 {
            white-space: nowrap;
        }


        figure {
            margin-bottom: 15px;
        }
    }

    p {
        padding-left: 30px;
        padding: var(--card-spaceing);

         @include tab-sm-portrait{
           padding-top: 0;
        }
    }
}