.row-gap-y {
    --bs-gutter-y: 32px;

    @include tab-portrait {
        --bs-gutter-y: 22px;
    }
}

.btn-grp {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.sec-head {
    margin-bottom: 60px;

    @include tab-landscape {
        margin-bottom: 40px;
    }

    @include tab-portrait {
        margin-bottom: 26px;
    }

    &.mb-40 {
        margin-bottom: 40px;

        @include tab-portrait {
            margin-bottom: 26px;
        }
    }
}

.pillar-card {
    padding: 24px;
    height: 100%;
    border-top: 4px solid var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @include mobile-lg {
        padding: 20px;
    }

    figure {
        width: 48px;
        padding: 10px;
        height: 48px;
        margin: 0 auto 24px;
        background: var(--primary-color);
        border-radius: 50%;

        img {
            height: 100%;
            margin-top: -4px;
        }

        @include tab-portrait {
            width: 40px;
            height: 40px;
            margin-bottom: 14px;
            padding: 6px;
        }

    }

    h3 {
        margin-bottom: 0.88em;

        @include tab-portrait {
            margin-bottom: 0.6em;
        }
    }
}

.team-card {
    background: var(--white-color);
    text-align: center;
    padding: 24px 20px;
    height: 100%;

    @include mobile-lg {
        padding: 20px;
    }

    figure {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 12px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

}

.team-card-sm {
    figure {
        width: 120px;
        height: 120px;
        margin-bottom: 17px;
    }
}

.our-vision-card {
    // padding: clamp(1.25rem, 0.825rem + 1.81vw, 3rem);
    border-top: 4px solid var(--primary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 100%;

    h3 {
        @include tab-portrait {
            margin-bottom: 6px;
        }
    }
}

.founder-msg {
    font-family: var(--primary-font);
    color: #19191f;

    h2 {
        margin-bottom: clamp(0.5rem, 0.225rem + 1.38vw, 1.875rem);
    }

    p {
        margin: 0 auto 12px;
        max-width: 896px;
    }

    .founder-msg-author {
        margin-bottom: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
    }
}

.cmn-bnr-sec {
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradiant-bg);

    @include tab-landscape {
        min-height: 260px;
    }

    @include tab-sm-portrait {
        min-height: 220px;
    }

    @include mobile-lg {
        min-height: 190px;
    }

    .cmn-bnr-content {
        h1 {
            margin-bottom: 6px;

            @include mobile-lg {
                margin-bottom: 4px;
            }
        }

        p {
            max-width: 768px;
            margin: 0 auto;

            @include mobile-lg {
                font-size: 16px;
            }
        }
    }
}

.recent-announcement-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--sky-color);
    padding: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);

    figure {
        width: 33.4%;
        overflow: hidden;
        border-radius: var(--radius-sm);

        @include tab-portrait {
            width: 100%;
            max-width: 350px;
            margin: 0 auto 30px;
        }

        @include tab-sm-portrait {
            margin-bottom: 20px;
        }
    }

    .recent-announcement-card-info {
        width: calc(100% - 33.4%);
        padding-left: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);

        @include tab-portrait {
            width: 100%;
            padding-left: 0;
        }

        h3 {
            a {
                color: inherit;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }
    }

    .recent-announcement-meta {
        margin-bottom: 18px;

        @include mobile-lg {
            margin-bottom: 12px;
        }
    }

}

.icon-text-card {
    display: flex;
    gap: 16px;
    padding: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
    height: 100%;
    background: white;

    // @include tab-sm-portrait {
    //     flex-direction: column;
    // }

    // @include mobile-lg {
    //     flex-direction: row;
    // }



    .icon-text-card-icon {
        width: 32px;
        flex: none;

        img {
            width: 100%;
        }
    }

    h3 {
        margin-bottom: 10px;

        @include tab-portrait {
            margin-bottom: 6px;
        }
    }

}

.press-release-card {
    display: flex;
    flex-direction: column;
    padding: clamp(1.375rem, 1.325rem + 0.25vw, 1.625rem);
    background: var(--white-color);
    height: 100%;

    h3 {
        margin-bottom: 10px;
        line-height: 1.45;
    }

    .press-release-meta {
        margin-bottom: 12px;
    }

}

.media-coverage-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.875rem, 0.8rem + 0.38vw, 1.25rem);
    min-height: clamp(5rem, 4rem + 5vw, 10rem);

    img {
        max-width: clamp(2.5rem, 2rem + 2.5vw, 5rem);
    }
}

.article-card {
    display: inline-flex;
    flex-direction: column;
    background: var(--white-color);
    color: var(--content-dark-color);
    height: 100%;

    &:hover {
        img {
            transform: scale(1.1);

        }

        h3 {
            color: var(--secondary-color);
        }
    }

    figure {
        overflow: hidden;
        aspect-ratio: 1/0.52;

        img {
            object-fit: cover;
            height: 100%;
            transition: 0.2s all;
            display: block;
        }
    }

    .article-card-body {
        display: flex;
        flex-direction: column;
        padding: clamp(1.25rem, 1.188rem + 0.31vw, 1.563rem);
        flex-grow: 1;

    }

    h3 {
        transition: 0.3s all;
    }

    .article-card-meta {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
    }

    .btn {
        margin-top: auto;
        width: max-content;
    }

}

.value-card {
    height: 100%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    figure {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary-color-light);
        border-radius: 50%;
        margin-bottom: 36px;

        @include tab-portrait {
            margin-bottom: 30px;
        }

        @include tab-sm-portrait {
            margin-bottom: 26px;
        }

        img {
            width: 100%;
            max-width: 40px;

        }
    }
}

.icon-with-bg {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    flex: none;


    @include tab-portrait {
        width: 50px;
        height: 50px;
        padding: 8px;
    }

    img {
        width: 100%;
    }

}

.icon-with-bg-lg {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex: none;
    padding: 10px;

    @include tab-portrait {
        width: 40px;
        height: 40px;
        padding: 8px;
    }

    img {
        width: 100%;
    }

}

.icon-with-bg-md {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex: none;
    padding: 6px;


    img {
        width: 100%;
    }
}


.cta-sec {
    p {
        color: #ffffff94;
    }

    .cta-content {
        .btn-primary {
            border: 1px solid var(--white-color);
        }

        .btn-secondary {
            &:hover {
                border-color: var(--secondary-color) !important;
                color: var(--secondary-color) !important;
            }
        }
    }
}

// accordion start
.accordion {
    border: 1px solid var(--border2-color);
    border-radius: var(--radius-sm);

    .accordion-item {
        border: none;
        border-bottom: 1px solid var(--border2-color);

        &:last-child {
            border-bottom: none;
        }

        .accordion-button {
            background: var(--sky-color);
            // font-size: 18px;

            &::after {
                filter: brightness(0) saturate(100%) invert(49%) sepia(35%) saturate(3907%) hue-rotate(28deg) brightness(108%) contrast(105%);
            }

            &:hover {
                background: var(--gradiant-bg);
            }

            &:not(.collapsed) {
                box-shadow: none;
                background: var(--gradiant-bg);
            }
        }

        .accordion-body {
            font-size: 0.938rem;
        }
    }

}