.row-gap-y {
    --bs-gutter-y: 32px;

    @include tab-portrait {
        --bs-gutter-y: 22px;
    }
}

.btn-grp {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.sec-head {
    margin-bottom: 60px;

    @include tab-landscape {
        margin-bottom: 40px;
    }

    @include tab-portrait {
        margin-bottom: 26px;
    }

    &.mb-40 {
        margin-bottom: 40px;

        @include tab-portrait {
            margin-bottom: 26px;
        }
    }
}

.pillar-card {
    padding: 24px;
    height: 100%;

    @include mobile-lg {
        padding: 20px;
    }

    figure {
        width: 48px;
        height: 48px;
        margin: 0 auto 24px;

        img {
            height: 100%;
        }

        @include tab-portrait {
            width: 40px;
            height: 40px;
            margin-bottom: 14px;
        }

    }

    h3 {
        margin-bottom: 0.88em;

        @include tab-portrait {
            margin-bottom: 0.6em;
        }
    }
}

.team-card {
    background: var(--white-color);
    text-align: center;
    padding: 24px 20px;
    height: 100%;

    @include mobile-lg {
        padding: 20px;
    }

    figure {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 12px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

}

.team-card-sm {
    figure {
        width: 120px;
        height: 120px;
        margin-bottom: 17px;
    }
}

.our-vision-card {
    padding: clamp(1.25rem, 0.825rem + 1.81vw, 3rem);

    h3 {
        margin-bottom: 32px;

        @include tab-landscape {
            margin-bottom: 20px;
        }

        @include mobile-lg {
            margin-bottom: 12px;
        }

    }
}

.founder-msg {
    font-family: var(--primary-font);
    color: #19191f;

    h2 {
        margin-bottom: 30px;
    }

    p {
        margin: 0 auto 12px;
        max-width: 896px;
    }

    .founder-msg-author {
        margin-bottom: 60px;
    }
}

.cmn-bnr-content {
    h1 {
        margin-bottom: 14px;

        @include mobile-lg {
            margin-bottom: 10px;
        }
    }

    p {
        line-height: 1.4;

        @include mobile-lg {
            font-size: 16px;
        }
    }
}

.icon-text-card {
    display: flex;
    gap: 16px;
    padding: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
    height: 100%;
    background: white;

    // @include tab-sm-portrait {
    //     flex-direction: column;
    // }

    // @include mobile-lg {
    //     flex-direction: row;
    // }

    .icon-text-card-icon {
        width: 32px;
        flex: none;

        img {
            width: 100%;
        }
    }

    h3 {
        margin-bottom: 10px;
    }

}