.contact-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 22px;

    &:last-child {
        margin-bottom: 0;
    }

    .contact-info-icon {
        width: 28px;
        flex: none;

        img {
            width: 100%;
        }
    }

    label {
        display: block;
        font-weight: 500;
    }

    a,
    p {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: var(--primary-color);
        transition: 0.3s all;
    }

    a {
        &:hover {
            color: var(--secondary-color);
        }
    }


}


.getin-touch-wpr {
    box-shadow: var(--box-shadow);
    padding: 32px;
    border-radius: var(--radius-sm);

    h3 {
        margin-bottom: 32px;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background: var(--border-color);
}

.contact-social {
    p {
        font-size: 20px;
        font-weight: 600;
        padding-top: 26px;
        margin-bottom: 15px;
        color: var(--heading-color);
        font-family: var(--heading-font);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: var(--heading-color);
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        li {
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                transition: 0.3s all;
            }

            a:hover {
                transform: scale(1.1);
            }

            img {
                filter: brightness(0) saturate(100%) invert(53%) sepia(42%) saturate(2200%) hue-rotate(21deg) brightness(99%) contrast(103%);
            }
        }
    }
}

.contact-form {
    padding: 32px;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-sm);
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
    }

    label{
        font-size: 14px;
        margin-bottom: 6px;
        color: var(--heading-color);
    }
}

.contact-row{
        --bs-gutter-x: 64px;
        --bs-gutter-y: 32px;
}