.contact-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 22px;

    @include tab-portrait {
        gap: 10px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .contact-info-icon {
        width: 28px;
        flex: none;

        @include tab-portrait {
            width: 22px;
        }

        img {
            width: 100%;
        }
    }

    label {
        display: block;
        font-weight: 500;
    }

    a,
    p {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: var(--primary-color);
        transition: 0.3s all;

        @include tab-portrait {
            font-size: 15px;
            line-height: 1.6;
        }
    }

    a {
        &:hover {
            color: var(--secondary-color);
        }
    }



}


.getin-touch-wpr {
    box-shadow: var(--box-shadow);
    padding: clamp(1.5rem, 1.379rem + 0.52vw, 2rem);
    border-radius: var(--radius-sm);

    h3 {
        margin-bottom: 32px;

        @include tab-portrait {
            margin-bottom: 20px;
        }
    }
}

.divider {
    width: 100%;
    height: 1px;
    background: var(--border-color);
}

.contact-social {
    padding-top: 26px;

    @include tab-portrait {
        padding-top: 22px;
    }

    h3 {
        font-weight: 600;
        margin-bottom: 15px;
        color: var(--heading-color);
        font-family: var(--heading-font);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: var(--heading-color);
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        li {
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                transition: 0.3s all;
            }

            a:hover {
                transform: scale(1.1);
            }

            img {
                filter: brightness(0) saturate(100%) invert(53%) sepia(42%) saturate(2200%) hue-rotate(21deg) brightness(99%) contrast(103%);
            }
        }
    }
}

.contact-form-wpr {
    padding: clamp(1.5rem, 1.379rem + 0.52vw, 2rem);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-sm);

    h3 {
        margin-bottom: 6px;
    }

    p {
        margin-bottom: 1.5em;

        @include tab-portrait {
            margin-bottom: 1em;
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;

    @include tab-portrait {
        gap: 16px;
    }

    label {
        font-size: 14px;
        margin-bottom: 6px;
        color: var(--heading-color);
    }

    // @include textarea{

    // }

}

.contact-row {
    --bs-gutter-x: clamp(1.5rem, 0.893rem + 2.59vw, 4rem);
    --bs-gutter-y: clamp(1.25rem, 1.068rem + 0.78vw, 2rem);
}