.hero-sec {
    background: linear-gradient(124.62deg, #F2F6FDFF 0%, #FFFFFFFF 100%);
}

.hero-row {
    --bs-gutter-x: 48px;
    --bs-gutter-y: 50px;
    align-items: center;

    @include tab-portrait {
        --bs-gutter-x: 15px;
    }
}

.hero-content {

    @include tab-portrait {
        text-align: center;
    }

    p {
        margin-bottom: 60px;

        @include tab-portrait {
            margin-bottom: 30px;
        }

        @include mobile-lg {
            margin-bottom: 20px;
        }
    }

    .btn-grp {
        @include tab-landscape {
            justify-content: center;
        }
    }
}

.hero-img {
    border-radius: var(--radius);
    overflow: hidden;

    img {

        @include tab-portrait {
            aspect-ratio: 1/0.5;
            object-fit: cover;
        }
    }
}

.pillar-card-row {
    --bs-gutter-y: 30px;

    @include tab-portrait {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    .pillar-card {
        @include tab-portrait {
            max-width: 350px;
            margin: 0 auto;
        }
    }
}

.team-card-row {
    --bs-gutter-y: 30px;

    @include tab-portrait {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    .team-card {
        @include mobile-lg {
            max-width: 300px;
            margin: 0 auto;
        }
    }

}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }
}

.spl-heading-text {
    padding: 40px 0;

    h2 {
        animation: scroll 30s infinite linear;
        margin-left: -15%;

        &:hover {
            animation-play-state: paused;
        }
    }
}

.hm-abt-row {
    align-items: center;
    margin-bottom: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);

    &:last-child{
        margin-bottom: 0;
    }

    &.flex-row-reverse {
        .hm-abt-para {
            border-right: 1px solid var(--border-color);
            padding-right: 30px;
            border-left: 0;
            padding-left: 0;

            @include tab-portrait {
                padding-right: 20px;
            }
        }
    }
}

.hm-abt-heading {
    h2 {
        margin-bottom: 22px;
        margin-top: -8px;
    }
}

.hm-abt-para {
    border-left: 1px solid var(--border-color);
    padding-left: 30px;

    @include tab-portrait {
        padding-left: 20px;
    }
}



.hm-missn-head {
    p {
        margin-bottom: 2.5em;

        @include tab-portrait {
            margin-bottom: 1.5em;
        }
    }
}

.hm-mission-row {
    --bs-gutter-y: 32px;
}