.btn {
    @include button;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
        background: var(--secondary-color) !important;
        color: var(--white-color) !important;
        box-shadow: none !important;
        border-color: transparent !important;
    }

    &-secondary {
        background: var(--secondary-color);
        color: var(--white-color);

        &:hover,
        &:focus,
        &:active,
        &:focus-visible {
            background: var(--primary-color) !important;
            color: var(--white-color) !important;
            box-shadow: none !important;
        }
    }

    &-outline {
        background: transparent;
        color: var(--secondary-color);
        border-color: var(--secondary-color)
    }

    &.disabled,
     &:disabled{
        opacity: 0.3;
        pointer-events: none;
        background: var(--primary-color);
        color: var(--white-color);
        border-color: transparent;
        box-shadow: none;
    }

}




input[type="submit"] {
    @extend .btn;

    &:hover {
        background-color: var(--primary-color);
    }
}


%input-styles {
    @include input;
}

%input-styles--focus {
    @include input-focus;
}

@mixin input-styles($styles, $focus_styles) {
    $types: 'email', 'number', 'select', 'password', 'search', 'tel',
        'text', 'url', 'color', 'date', 'datetime',
        'datetime-local', 'month', 'time', 'week';

    @each $type in $types {
        input[type="#{$type}"] {
            @extend #{$styles};

            &:focus {
                @extend #{$focus_styles};
                border: 1px solid var(--primary-color) !important;
            }
        }
    }

    select {
        @extend #{$styles};
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(../images/select-caret-down.svg);
        background-repeat: no-repeat;
        background-position: right 18px center;

        &:focus {
            @extend #{$focus_styles};
            border: 1px solid var(--primary-color) !important;
        }
    }

    textarea {
        @extend #{$styles};
        height: 192px;
        resize: none;
        padding: 16px 18px 18px;
        border-radius: 0px;

        &:focus {
            @extend #{$focus_styles};
            border-color: var(--primary-color);
        }
    }

}

@include input-styles('%input-styles', '%input-styles--focus');



// ===================== check and radio

@mixin checbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: -9999px !important;

    &+label {
        padding: 0 0 0 20px !important;
        padding-left: 30px !important;
        color: var(--primary-color) !important;
        display: inline-block !important;
        max-width: inherit !important;
        margin: 0px 10px 0 0 !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 22px !important;
        position: relative !important;
        letter-spacing: 0 !important;
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
    }

    &+label:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid var(--input-bg);
        background: var(--input-bg);
        left: 0;
        top: 0px;
        border-radius: 0;
    }

    &+label:after {
        content: '';
        background: none !important;
        position: absolute;
        left: 8px;
        top: 4px;
        width: 5px;
        height: 9px;
        border: solid var(--primary-color);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        display: none;
    }

    &:checked+label {
        color: var(--primary-color) !important;
        font-weight: 400 !important;
        user-select: none;
        -webkit-user-select: none;
    }

    &:checked+label:before {
        border-color: var(--primary-color);
    }

    &:checked+label:after {
        display: block;
    }

}

@mixin radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: -9999px !important;

    &+label {
        padding: 0 0 0 35px !important;
        color: var(--primary-color) !important;
        display: inline-block !important;
        max-width: inherit !important;
        margin: 0px 10px 0 0 !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 22px !important;
        position: relative !important;
        letter-spacing: 0 !important;
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
    }

    &+label:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid var(--input-bg);
        background: var(--input-bg);
        left: 0;
        top: 0px;
        border-radius: 55%;
    }

    &+label:after {
        content: '';
        position: absolute;
        width: 7.5px;
        height: 7.5px;
        background: var(--primary-color) !important;
        left: 6.25px;
        top: 6.25px;
        border-radius: 55%;
        display: none;
    }

    &:checked+label {
        color: var(--primary-color) !important;
        font-weight: 400 !important;
        user-select: none;
    }

    &:checked+label:before {
        border-color: var(--primary-color) !important;
    }

    &:checked+label:after {
        display: block;
    }

}


input[type=checkbox] {
    @include checbox;
}

input[type=radio] {
    @include radio;
}




.input-wrapper {
    margin-bottom: 36px;

    @include mobile-lg {
        margin-bottom: 20px;
    }
}