
@mixin heading {
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--heading-color);
    letter-spacing: 0; 
    margin: 0 0 12px 0;
    padding: 0;
    position: relative;  
}

@mixin button {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--content-font);
    padding: 14px 20px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    display: inline-block;
    border-radius: 0px;
    vertical-align: baseline;
    text-transform: capitalize;
    box-shadow: none;
    transition: 0.3s all;
}

// @mixin lists{
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }



::placeholder {
    color: var(--primary-color-dark);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--primary-color-dark);
}

::-ms-input-placeholder {
    color: var(--primary-color-dark);
}


@mixin input {
    width: 100%;
    height: 64px;
    border: 1px solid transparent;
    background: var(--input-bg);
    padding: 0 18px;
    border-radius: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--primary-color-dark);
    transition: 0.3s ease-in-out;
    outline: none;
    position: relative;

    @include mobile-lg{
        height: 54px;
    }
}

@mixin input-focus {
    color: var(--primary-color-dark) !important;
}


@mixin transitionEffect {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


@mixin monitor-lg {
    @media all and #{$monitor-lg} {
        @content;
    }
}

@mixin desktop-lg {
    @media all and #{$desktop-lg} {
        @content;
    }
}


@mixin hd-display {
    @media all and #{$hd-display} {
        @content;
    }
}

@mixin macbook {
    @media all and #{$macbook} {
        @content;
    }
}

@mixin windows-laptop {
    @media all and #{$windows-laptop} {
        @content;
    }
}

@mixin tab-lg {
    @media all and #{$tab-lg} {
        @content;
    }
}

@mixin tab-landscape {
    @media all and #{$tab-landscape} {
        @content;
    }
}

@mixin tab-lg-portrait {
    @media all and #{$tab-lg-portrait} {
        @content;
    }
}

@mixin tab-portrait {
    @media all and #{$tab-portrait} {
        @content;
    }
}

@mixin tab-sm-portrait {
    @media all and #{$tab-sm-portrait} {
        @content;
    }
}

@mixin mobile-lg {
    @media all and #{$mobile-lg} {
        @content;
    }
}

@mixin mobile-sm-portrait {
    @media all and #{$mobile-sm-portrait} {
        @content;
    }
}

@mixin iphone-old {
    @media all and #{$iphone-old} {
        @content;
    }
}

@mixin android-mobile {
    @media all and #{$android-mobile} {
        @content;
    }
}

@mixin iphone-vs {
    @media all and #{$iphone-vs} {
        @content;
    }
}