
@mixin heading {
    font-weight: 600;
    font-family: var(--heading-font);
    line-height: 1.3;
    color: var(--heading-color);
    letter-spacing: 0; 
    margin: 0 0 12px 0;
    padding: 0;
    position: relative;  
}

@mixin button {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    font-family: var(--content-font);
    padding: 11px 24px;
    background: var(--primary-color);
    border: 1px solid transparent;
    color: var(--white-color);
    display: inline-block;
    border-radius: var(--radius-sm);
    vertical-align: baseline;
    text-transform: capitalize;
    box-shadow: none;
    transition: 0.3s all;

    @include tab-landscape{
        font-size: 0.9rem;
    }
}

// @mixin lists{
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }



// ::placeholder {
//     color: var(--primary-color);
//     opacity: 1;
// }

// :-ms-input-placeholder {
//     color: var(--primary-color);
// }

// ::-ms-input-placeholder {
//     color: var(--primary-color);
// }


@mixin input {
    width: 100%;
    height: 44px;
    border: 1px solid #dee1e6ff;
    background:var(--white-color);
    padding: 0 12px;
    font-size: 0.9rem;
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: var(--content-font);
    color: var(--content-color);
    transition: 0.3s ease-in-out;
    outline: none;
    position: relative;

    
}

@mixin input-focus {
    color: var(--primary-color) !important;
}


@mixin transitionEffect {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


@mixin monitor-lg {
    @media all and #{$monitor-lg} {
        @content;
    }
}

@mixin desktop-lg {
    @media all and #{$desktop-lg} {
        @content;
    }
}


@mixin hd-display {
    @media all and #{$hd-display} {
        @content;
    }
}

@mixin macbook {
    @media all and #{$macbook} {
        @content;
    }
}

@mixin windows-laptop {
    @media all and #{$windows-laptop} {
        @content;
    }
}

@mixin tab-lg {
    @media all and #{$tab-lg} {
        @content;
    }
}

@mixin tab-landscape {
    @media all and #{$tab-landscape} {
        @content;
    }
}

@mixin tab-lg-portrait {
    @media all and #{$tab-lg-portrait} {
        @content;
    }
}

@mixin tab-portrait {
    @media all and #{$tab-portrait} {
        @content;
    }
}

@mixin tab-sm-portrait {
    @media all and #{$tab-sm-portrait} {
        @content;
    }
}

@mixin mobile-lg {
    @media all and #{$mobile-lg} {
        @content;
    }
}

@mixin mobile-sm-portrait {
    @media all and #{$mobile-sm-portrait} {
        @content;
    }
}

@mixin iphone-old {
    @media all and #{$iphone-old} {
        @content;
    }
}

@mixin android-mobile {
    @media all and #{$android-mobile} {
        @content;
    }
}

@mixin iphone-vs {
    @media all and #{$iphone-vs} {
        @content;
    }
}