.standard-content {
    figure {
        margin-bottom: 30px;

        @include tab-portrait {
            margin-bottom: 20px;
        }
    }

    h1,
    h2,
    h3,
    h4.h5 {
        margin-bottom: 6px;
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    h1 {
        font-size: clamp(1.375rem, 1.2rem + 0.9vw, 2.25rem);
    }

    h2 {
        font-size: clamp(1.25rem, 1.125rem + 0.7vw, 1.875rem);
    }

    h3 {
        font-size: clamp(1.125rem, 1.05rem + 0.45vw, 1.5rem);
    }

    h4 {
        font-size: clamp(1.05rem, 1.01rem + 0.25vw, 1.25rem);
    }

    h5 {
        font-size: clamp(0.95rem, 0.93rem + 0.15vw, 1.1rem);
    }

    p,
    ul,
    ol {
        margin-bottom: 0.8em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


// .non-default-ul{
//     @include lists;
// }