// responsive devices
// $macbook: "(min-width: 1367px) and (max-width: 1600px)";
// $windows-laptop: "(min-width: 1201px) and (max-width: 1366px)";
// $tab-lg: "(min-width: 1201px) and (max-width: 1366px) and (min-height: 880px)";
// $tab-lg-portrait: "(min-width: 1024px) and (max-width: 1200px) and (orientation: portrait)";
// $iphone-old: "(max-width: 410px) and (max-height: 667px)";

$desktop-lg: "(min-width: 1920px)";
$macbook: "(max-width: 1600px)";
$windows-laptop: "(max-width: 1366px)";
$tab-landscape: "(max-width: 1200px)";
$tab-portrait: "(max-width: 991px)";
$tab-sm-portrait: "(max-width: 767px)";
$mobile-lg: "(max-width: 575px)";
$mobile-sm-portrait: "(max-width: 410px)";
$android-mobile: "(max-width: 360px)";
$iphone-vs: "(max-width: 320px)";

:root {

  --primary-color-dark: #8D8576;
  --input-bg: rgba(219, 219, 219, 0.14);
  --page-bg: #ffffff;
  --card-bg: #e9e9e9;
  
  
  // ============ Color Variable ============ // 
  --primary-color: #102b5a;
  --secondary-color:#c39900;
  --secondary-color-light:#fff9e6;

  --heading-color:#19191f;
  --content-color:#565d6d;
  --sky-color: #fafafb;
  --border-color: #00000020;
  
  --white-color: #ffffff;
  --black-color: #000000;
  
  // Others Variable
  --box-shadow: 0px 0px 1px #171a1fD, 0px 0px 2px #171a1f14;
  --border-radius: 6px;  
  --border-radius-lg: 20px;  
  --border-radius-md: 16px;  
  --border-radius-sm: 4px;  
   
  // ============ Fonts Variable ============ // 
  --primary-font: "Merriweather", serif;
  --secondary-font: "Montserrat", sans-serif;

  --heading-font: var(--primary-font);
  --content-font: var(--secondary-font);
}









