// responsive devices
// $macbook: "(min-width: 1367px) and (max-width: 1600px)";
// $windows-laptop: "(min-width: 1201px) and (max-width: 1366px)";
// $tab-lg: "(min-width: 1201px) and (max-width: 1366px) and (min-height: 880px)";
// $tab-lg-portrait: "(min-width: 1024px) and (max-width: 1200px) and (orientation: portrait)";
// $iphone-old: "(max-width: 410px) and (max-height: 667px)";

$desktop-lg: "(min-width: 1920px)";
$macbook: "(max-width: 1600px)";
$windows-laptop: "(max-width: 1399px)";
$tab-landscape: "(max-width: 1199px)";
$tab-portrait: "(max-width: 991px)";
$tab-sm-portrait: "(max-width: 767px)";
$mobile-lg: "(max-width: 575px)";
$mobile-sm-portrait: "(max-width: 410px)";
$android-mobile: "(max-width: 360px)";
$iphone-vs: "(max-width: 320px)";

:root {

  // --primary-color-dark: #8D8576;
  // --input-bg: rgba(219, 219, 219, 0.14);
  // --page-bg: #ffffff;
  // --card-bg: #e9e9e9;


  // ============ Color Variable ============ // 
  --primary-color: #08152c;
  --primary-light-color: #f2f6fd;
  --secondary-color: #c39900;
  --secondary-color-light: #fff9e6;

  --heading-color: var(--primary-color);
  --content-color: #565d6d;
  --content-dark-color: #171a1f;
  --sky-color: #fafafb;
  --border-color: #ced4da;
  --border2-color: #dee1e6;

  --white-color: #ffffff;
  --black-color: #000000;
  --gradiant-bg: linear-gradient(90deg, #f2f6fd 0%, #fff9e6 100%);
  // Others Variable
  --box-shadow: 0px 0px 1px #171a1f0d, 0px 0px 2px #171a1f14;

  // radius Variable
  --radius-lg: 20px;
  --radius-md: 16px;
  --radius-sm: 4px;
  --radius: 6px;

  // ============ Fonts Variable ============ // 
  --primary-font: "Merriweather", serif;
  --secondary-font: "Open Sans", sans-serif;

  --heading-font: var(--primary-font);
  --content-font: var(--secondary-font);
}