// responsive devices
// $macbook: "(min-width: 1367px) and (max-width: 1600px)";
// $windows-laptop: "(min-width: 1201px) and (max-width: 1366px)";
// $tab-lg: "(min-width: 1201px) and (max-width: 1366px) and (min-height: 880px)";
// $tab-lg-portrait: "(min-width: 1024px) and (max-width: 1200px) and (orientation: portrait)";
// $iphone-old: "(max-width: 410px) and (max-height: 667px)";

$desktop-lg: "(min-width: 1920px)";
$macbook: "(max-width: 1600px)";
$windows-laptop: "(max-width: 1399px)";
$tab-landscape: "(max-width: 1199px)";
$tab-portrait: "(max-width: 991px)";
$tab-sm-portrait: "(max-width: 767px)";
$mobile-lg: "(max-width: 575px)";
$mobile-sm-portrait: "(max-width: 410px)";
$android-mobile: "(max-width: 360px)";
$iphone-vs: "(max-width: 320px)";

:root {

  --primary-color-dark: #8D8576;
  --input-bg: rgba(219, 219, 219, 0.14);
  --page-bg: #ffffff;
  --card-bg: #e9e9e9;


  // ============ Color Variable ============ // 
  --primary-color: #08152c;
  --primary-light-color: #f2f6fd;
  --secondary-color: #c39900;
  --secondary-color-light: #fff9e6;

  --heading-color: var(--primary-color);
  --content-color: #565d6d;
  --content-dark-color: #171a1f;
  --sky-color: #fafafb;
  --border-color: #ced4da;
  --border2-color:  #dee1e6;

  --white-color: #ffffff;
  --black-color: #000000;

  // Others Variable
  --box-shadow: 0px 0px 1px #171a1f0d, 0px 0px 2px #171a1f14;

  // radius Variable
  --radius-lg: 20px;
  --radius-md: 16px;
  --radius-sm: 4px;
  --radius: 6px;

  // ============ Fonts Variable ============ // 
  --primary-font: "Merriweather", serif;
  --secondary-font: "Open Sans", sans-serif;

  --heading-font: var(--primary-font);
  --content-font: var(--secondary-font);
}

/* Color bindings */
.primary-bg {
  background: var(--primary-color);
}

.primary-light-bg {
  background: var(--primary-light-color);
}

.secondary-bg {
  background: var(--secondary-color);
}

.secondary-light-bg {
  background: var(--secondary-color-light);
}

.sky-bg {
  background: var(--sky-color);
}

.white-bg {
  background: var(--white-color);
}

.black-bg {
  background: var(--black-color);
}

.primary-color {
  color: var(--primary-color);
}

.primary-light-color {
  color: var(--primary-light-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-light-color {
  color: var(--secondary-color-light);
}

.sky-color {
  color: var(--sky-color);
}

.heading-color {
  color: var(--heading-color);
}

.content-color {
  color: var(--content-color);
}

.content-dark-color {
  color: var(--content-dark-color);
}

.border {
  border: 1px solid var(--border-color) !important;
}

.border-color {
  border-color: var(--border-color) !important;
}

.border2-color {
  border-color: var(--border2-color) !important;
}

.white-color {
  color: var(--white-color);
}

.black-color {
  color: var(--black-color);
}

.content-xl {
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}

.content-lg {
  font-size: clamp(1.125rem, 1.095rem + 0.13vw, 1.25rem);
}

.content-md {
  font-size: clamp(1rem, 0.97rem + 0.13vw, 1.125rem);
}

.content-sm {
  font-size: 1rem;
}

.content-xs {
  font-size: 0.9rem;
  line-height: 1.4;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.radius {
  border-radius: 6px;
}

.radius-lg {
  border-radius: 20px;
}

.radius-md {
  border-radius: 16px;
}

.radius-sm {
  border-radius: 4px;
}