.trust-verify-cont {
    margin-bottom: 40px;

    @include tab-portrait{
        margin-bottom: 30px;
    }

    @include mobile-lg{
        margin-bottom: 26px;
    }
    h1 {
        margin-bottom: 0.55em;

        &+p {
            color: var(--content-dark-color);
        }
    }

    p {
        max-width: 768px;
        margin: 0 auto 6px;
    }
}

.certificate-verify-frm-wpr {
    padding: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
    max-width: 576px;
    margin: 0 auto clamp(1rem, 0.636rem + 1.82vw, 2rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h2 {
        margin-bottom: 5px;
    }

    p {
        margin-bottom: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
    }
}

.certificate-verify-frm {
    .input-wpr {
        margin-bottom: 15px;
        input{
            text-align: center;
        }
    }

    input[type="submit"] {
        width: 100%;
        font-weight: 600;
    }
}
